body{
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;  
}

h1{
  text-align: center;  
}

.todo-wrapper{
background: #353535;
}

.todo-wrapper{
    background: #353434;
    padding: 2%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3%;
    max-height: 80vh; 
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(7, 7, 7)
}

.todo-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(79, 78, 78);
    padding-bottom: 25px; 
    margin-bottom: 25px;
}

.todo-input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.todo-input-item label{
    font-weight: bold;
    margin-bottom: 10px;
}

.todo-input-item input{
padding: 8px;
border: none;
width: 250px;

}

.todo-input-item input:focus{
    outline: 2px solid  rgb(21, 231, 21);
}

.primaryBtn{
 background-color: rgb(20, 234, 20);
color: white;
border: none;
border-radius: 0px;
margin-top: 25px;
padding: 10px;
width: 60px;
cursor: pointer;
}

.primaryBtn:hover{
    background-color: rgb(6, 196, 6);
}

.secondaryBtn{
 background-color: rgb(60, 61, 60);
color: white;
border: none;
border-radius: 0px;
margin-top: 25px;
padding: 10px;
width: fit-content;
cursor: pointer;
}

.active{
    background-color: rgb(95, 225, 95);
}

.todo-list{
    display: flex;
    flex-direction: column;
}

.btn-area{
    margin-bottom: 15px;
}

.todo-list-item{
    background-color: #414040;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom:10px;
    box-shadow: gray;
}

.todo-list-item h3{
    font-size: 25px;
    color: rgb(33, 230, 33);
    font-weight: bold;
    margin: 0;
}

.todo-list-item p{
    font-size: 14px;
    color: rgb(181, 180, 180);
    margin: 0px;
}

.icon{
    font-size: 35px;
    cursor: pointer;
}

.icon:hover{
    color: red;
}

.chck-icon{
    font-size: 25px;
    margin-left: 10px;
    color: rgb(20, 222, 20);
}

.chck-icon:hover{
    color: rgb(49, 195, 49);
}